<main>
  <!-- Header -->
  <h1 class="text-center my-5 py-2 fw-bold">
    Instructor Name Asked for an agreement
  </h1>

  <!-- Learner-Agreement -->
  <div id="learner-agreement" class="my-5 p-4 rounded-5">
    <!-- Profile -->
    <div class="d-flex gap-5">
      <div class="d-flex gap-3 justify-content-center align-items-center">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
          alt="profile image"
          width="100px"
          height="100px"
          class="rounded-circle"
        />
        <h2>Username</h2>
      </div>
      <p class="d-flex justify-content-center align-items-center gap-2 mt-2">
        3.9/5
        <img
          src="../../../assets/images/star.png"
          alt="star"
          width="20"
          height="20"
        />
      </p>
    </div>

    <!-- Description -->
    <div id="description" class="ps-5 ms-5 pe-4 my-3 fw-light">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officiis
      nostrum ducimus tempora molestiae aperiam vero necessitatibus porro aut
      neque maxime, perspiciatis, ab obcaecati doloremque culpa ad. Vel, at
      voluptatem.
    </div>

    <!-- Actions and details -->
    <div
      id="controls"
      class="ps-5 ms-5 pe-4 mt-3 mb-2 d-flex justify-content-between align-items-center"
    >
      <div>
        <p>
          # of Reviews <br />
          # of Lessons
        </p>
      </div>
      <button class="btn btn-secondary rounded-3 px-4 py-2">
        View Profile
      </button>
    </div>
  </div>

  <!-- Actions -->
  <div
    id="action-buttons"
    class="d-flex justify-content-center align-items-center gap-4 my-4"
  >
    <button class="btn btn-danger py-2 px-4 fw-semibold fs-5">Reject</button
    ><button id="accept-btn" class="btn py-2 px-4 fw-semibold fs-5">
      Accept
    </button>
  </div>

  <h2 class="my-3">Your Post</h2>

  <!-- Learner-post -->
  <div id="learner-post" class="my-5 ps-4 pe-5 py-4 rounded-5">
    <!-- Info -->
    <div id="info" class="d-flex justify-content-between align-items-center">
      <div
        id="learner-profile"
        class="d-flex justify-content-center align-items-center gap-4"
      >
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
          alt="profile image"
          width="100px"
          height="100px"
          class="rounded-circle"
        />
        <h2>Username</h2>
      </div>
      <p class="mb-2">Category: Computer Science</p>
    </div>

    <!-- Details -->
    <div id="post-details" class="ps-5 ms-5 pe-4 my-3 fw-light">
      <h3 class="ps-4"><span style="color: #00a799c9">Post title</span></h3>
      <p class="ps-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci odit
        fugiat cum asperiores voluptatem? Exercitationem dignissimos, error rem
        quae maiores, ducimus quaerat pariatur excepturi numquam eos optio autem
        ratione provident!
      </p>
    </div>

    <!-- Price -->
    <div class="ms-5 ps-3">
      <p
        style="background-color: #d9d9d9; width: fit-content"
        class="ms-5 px-4 my-3 py-2 rounded-4"
      >
        Price: 30JD
      </p>
    </div>
  </div>
</main>
