body {
    background-color: #eeeded5f;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .report-modal {
    background-color: #d9d9d9;
    padding: 60px 70px;
    border-radius: 20px;
    width: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  label {
    font-weight: bold;
    font-size: 24px;
  }
  
  select,
  textarea {
    padding: 20px;
    border: none;
    border-radius: 14px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  textarea {
    resize: none;
    height: 200px;
  }
  
  .submit-btn {
    background-color: #00d2c8;
    color: white;
    font-weight: bold;
    padding: 18px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 15px;
    align-self: center;
    width:200px;
    font-size: 20px;
  }
  
  .submit-btn:hover {
    background-color: #00d2c8;
  }
  
  .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #00d2c8;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    cursor: pointer;
  }
  
  .close-btn:hover {
    background-color: #00d2c8;
  }
  