<div
  id="container"
  class="d-flex justify-content-center align-items-center flex-column"
>
  <form class="background p-5 rounded-5 d-flex flex-column gap-4">
    <!-- Heading -->
    <h1 class="fs-3 fw-bold text-center">Tell Us About Yourself</h1>

    <!-- Academic Details -->
    <div>
      <label class="form-label">Academic Details</label>
      <input
        type="text"
        class="form-control"
        placeholder="University, Major..."
      />
    </div>

    <!-- About -->
    <div>
      <label class="form-label">About</label>
      <textarea class="p-2" placeholder="Describe yourself..."></textarea>
    </div>

    <!-- Session Price -->
    <div>
      <label class="form-label">Session Price (In - Average)</label>
      <input type="text" class="form-control" />
      <div class="form-text">How much do you usally take per session ?</div>
    </div>

    <!-- Submit  -->
    <div class="d-flex justify-content-center">
      <input
        type="submit"
        value="Submit"
        class="btn btn-submit px-5 py-2 rounded-3"
      />
    </div>
  </form>
</div>