#container {
    height: 100vh;
  }
  
  .background {
    background-color: #d9d9d9;
  }
  
  form {
    width: 50%;
    margin: auto;
  }
  
  textarea {
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 120px;
    resize: none;
    accent-color: rgb(43, 234, 255);
  }
  
  textarea:focus {
    outline: none;
  }
  
  .btn-submit {
    background-color: #00d2c8;
  }
  
  .btn-submit:hover {
    background-color: #00d2c8;
    color: white;
  }
  