<div
  class="my-5 d-flex flex-column justify-content-center align-items-center"
  id="full-height"
>
  <form
    class="container-background m-auto rounded-5 p-5 d-flex flex-column gap-4"
  >
    <!-- Header -->
    <h1>What's on your mind ?</h1>

    <!-- Subject + Category -->
    <div class="d-flex gap-4">
      <!-- Subject -->
      <div class="bigger-size">
        <label class="form-label">Subject</label>
        <input type="text" class="form-control" />
      </div>

      <!-- Category -->
      <div style="width: 40% !important">
        <label class="form-label">Category</label>
        <select class="form-select">
          <option selected>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option N</option>
        </select>
      </div>
    </div>

    <!-- Description -->
    <div>
      <label class="form-label">Description</label>
      <textarea class="p-2"></textarea>
    </div>

    <!-- Price -->
    <div>
      <label class="form-label">Price</label>
      <input id="price-input" type="text" class="form-control" />
    </div>

    <!-- Invalid Data -->
    <p class="alert alert-danger">Invalid data placeholder...</p>

    <!-- Create Button -->
    <div class="d-flex justify-content-center">
      <input type="submit" value="Create Post" class="btn btn-dark px-5 py-2" />
    </div>
  </form>
</div>
