body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f41d;
  color: #000;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 5rem auto;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* centers vertically */
}

.pagination {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.pagination li {
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.pagination li.active {
  background-color: #00d2c8;
  color: white;
  font-weight: bold;
  border-color: #00d2c8;
}

.pagination li:hover {
  background-color: #ddd;
}
.report-card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.report-info {
  flex: 3;
}

.report-actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 1rem;
  justify-content: center;
}

.highlight {
  color: #00d2c8;
}

.description {
  color: #555;
  font-family: monospace;
  line-height: 1.3;
}

.view-chat {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #00d2c8;
  color: white;
  border: none;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
}

.red {
  background-color: #ff6f6f;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.block {
  background-color: #ff6f6f;
  color: #000;
  border: none;
  padding: 15px 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  line-height: 1.2;
}
