<div id="container" class="d-flex flex-column justify-content-center">
  <form id="login-form">
    <!-- Email -->
    <div class="mb-4">
      <label class="form-label">Email</label>
      <input required type="email" class="form-control" />
    </div>

    <!-- Password -->
    <div class="mb-4">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" />
    </div>

    <!-- Invalid Data -->
    <p class="alert alert-danger">Invalid data placeholder...</p>

    <!-- Form Submissions -->
    <div class="d-flex flex-column align-items-center gap-5">
      <div>
        <!-- Login -->
        <button
          type="submit"
          class="px-4 py-2 btn btn-dark rounded-pill fw-light"
        >
          Login
        </button>
      </div>

      <!-- Register -->
      <p class="fs-6">
        Don't have an account ?
        <a routerLink="/register" class="link-primary"> Sign Up </a>
      </p>
    </div>
  </form>
</div>
