<div class="container my-5">
  <!-- Header -->
  <h1 class="fw-bold my-5">My Posts</h1>

  <!-- Filters -->
  <div class="d-flex justify-content-center mb-5 mt-3">
    <div id="nav-container" class="w-fit p-4 rounded-4">
      <button id="filter-button" class="border-0 btn px-5 m-3">All</button
      ><button id="filter-button" class="border-0 btn px-5 m-3">Approved</button
      ><button id="filter-button" class="border-0 btn px-5 m-3">Pending</button>
    </div>
  </div>

  <!-- Post List -->
  <div>
    <!-- Post -->
    <section id="post" class="my-5 px-4 py-3 rounded-4">
      <div>
        <p class="fw-bold">
          Post Status:
          <span id="approved"
            >Approved "there is an ID for pending colored red"
          </span>
        </p>
        <p class="fw-bold">
          Category: <span id="post-subject">Software Engineering</span>
        </p>
        <p class="fw-bold">
          Subject: <span id="post-subject">I can't understand OOP !!!</span>
        </p>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo dicta,
        hic voluptatem sint maxime sapiente, possimus ullam quaerat ad quo saepe
        rerum nobis voluptatibus nihil, sed distinctio. Qui, iure perspiciatis.
      </p>

      <div class="d-flex justify-content-between">
        <div id="price" class="px-5 pt-3 rounded-4">
          <p class="fw-bold">Price: <span id="post-subject">20JD</span></p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <button id="edit-button" class="border-0 btn px-3 mx-3">Edit</button
          ><button class="border-0 btn px-3 mx-3 btn-danger">Delete</button>
        </div>
      </div>
    </section>

    <section id="post" class="my-5 px-4 py-3 rounded-4">
      <div>
        <p class="fw-bold">
          Post Status:
          <span id="approved"
            >Approved "there is an ID for pending colored red"
          </span>
        </p>
        <p class="fw-bold">
          Category: <span id="post-subject">Software Engineering</span>
        </p>
        <p class="fw-bold">
          Subject: <span id="post-subject">I can't understand OOP !!!</span>
        </p>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo dicta,
        hic voluptatem sint maxime sapiente, possimus ullam quaerat ad quo saepe
        rerum nobis voluptatibus nihil, sed distinctio. Qui, iure perspiciatis.
      </p>

      <div class="d-flex justify-content-between">
        <div id="price" class="px-5 pt-3 rounded-4">
          <p class="fw-bold">Price: <span id="post-subject">20JD</span></p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <button id="edit-button" class="border-0 btn px-3 mx-3">Edit</button
          ><button class="border-0 btn px-3 mx-3 btn-danger">Delete</button>
        </div>
      </div>
    </section>
  </div>

  <div class="pagination-container">
    <ul class="pagination">
      <li class="active">1</li>
      <li>2</li>
      <li>&rarr;</li>
    </ul>
  </div>
</div>
