body {
  background-color: #ffffff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  background: rgb(209, 208, 208);
  padding: 30px 40px;
  border-radius: 15px;
  width: 520px;
  box-shadow: 0 2px 8px rgba(57, 57, 57, 0.1);
}

h2 {
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 18px;
  margin-bottom: 8px;
  font-size: 15px;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid #6e6e6e;
  font-size: 15px;
  resize: none;
  box-sizing: border-box;
}

textarea {
  height: 160px;
}

.flex-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.flex-col {
  flex: 1;
}

button {
  margin-top: 30px;
  width: 100%;
  padding: 14px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}
