<main>
  <div class="row py-5">
    <!-- General Details Section -->
    <section class="col-6 h-75">
      <form id="general-details" class="my-5 px-5 py-4 rounded-5">
        <h1 class="fs-3 fw-bold my-4">General Details</h1>

        <!-- First Name Field -->
        <div class="mb-3">
          <label class="form-label"> First Name </label>
          <input type="text" class="form-control" />
          <p class="form-text text-danger">First Name Error Placeholder</p>
        </div>

        <!-- Last Name Field -->
        <div class="mb-3">
          <label class="form-label"> Last Name </label>
          <input type="text" class="form-control" />
          <p class="form-text text-danger">Last Name Error Placeholder</p>
        </div>

        <!-- Email Field -->
        <div class="mb-3">
          <label class="form-label"> Email </label>
          <input type="email" class="form-control" />
          <p class="form-text text-danger">Email Error Placeholder</p>
        </div>

        <!-- Categories -->
        <div class="mb-3">
          <select class="form-select">
            <option selected disabled>Favorite Category</option>
            <option>Category 1</option>
            <option>Category 2</option>
            <option>Category N</option>
          </select>
          <p class="form-text text-danger">
            Selection Error Placeholder (if needed)
          </p>
        </div>

        <!-- Profile Image -->
        <div class="mb-3">
          <label class="form-label">Profile Image</label>
          <input class="form-control" type="file" />
        </div>
      </form>
    </section>

    <!-- Bio Details -->
    <section class="col-6 h-75">
      <form class="background p-5 rounded-5 d-flex flex-column gap-3 my-5">
        <h2 class="fs-3 fw-bold">Bio Details</h2>
        <!-- Academic Details -->
        <div>
          <label class="form-label">Academic Details</label>
          <input
            type="text"
            class="form-control"
            placeholder="University, Major..."
          />
          <p class="form-text text-danger">Error Placeholder</p>
        </div>

        <!-- About -->
        <div>
          <label class="form-label">About</label>
          <textarea class="p-2" placeholder="Describe yourself..."></textarea>
          <p class="form-text text-danger">Error Placeholder (if needed)</p>
        </div>

        <!-- Session Price -->
        <div>
          <label class="form-label">Session Price (In - Average)</label>
          <input
            type="text"
            class="form-control"
            placeholder="How much do you usually take per session ?"
          />
          <p class="form-text text-danger">Error Placeholder</p>
        </div>
      </form>
    </section>
  </div>

  <div class="row my-1">
    <!-- Edit Post -->
    <section
      id="edit-password"
      class="col-6 h-25 rounded-5 px-5 py-3 text-center mb-5"
    >
      <h2 class="fw-bold fs-3 my-4">Edit Password</h2>
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-dark px-3 py-2 rounded-pill" style="width: 35%">
          Edit
        </button>
      </div>
    </section>

    <!-- Save Changes -->
    <section class="col-6 h-25 rounded-5 px-5 py-3 text-center mb-5 mx-auto">
      <div class="d-flex justify-content-center">
        <button role="submit" class="btn btn-dark py-4 rounded-pill fs-5 w-50">
          Save Changes
        </button>
      </div>
    </section>
  </div>
</main>
