<div id="details-container" class="container my-3">
  <!-- Header -->
  <header class="my-4 text-center">
    <h1 class="fw-bold">Personal Details</h1>
  </header>

  <!-- Forms -->
  <form
    id="general-details"
    class="w-75 px-4 py-4 rounded-4 mx-auto"
    (ngSubmit)="submitForm()"
    #form="ngForm"
  >
    <h2 class="fw-bold fs-4 my-3">General Details</h2>

    <!-- First Name Field -->
    <div class="mb-3">
      <label class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        name="firstName"
        [(ngModel)]="formData.firstName"
        required
      />
      <p
        class="form-text text-danger"
        *ngIf="form.submitted && !formData.firstName"
      >
        First Name is required
      </p>
    </div>

    <!-- Last Name Field -->
    <div class="mb-3">
      <label class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        name="lastName"
        [(ngModel)]="formData.lastName"
        required
      />
      <p
        class="form-text text-danger"
        *ngIf="form.submitted && !formData.lastName"
      >
        Last Name is required
      </p>
    </div>

    <!-- Email Field -->
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="formData.email"
        required
      />
      <p
        class="form-text text-danger"
        *ngIf="form.submitted && !formData.email"
      >
        Email is required
      </p>
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="formData.password"
        required
      />
      <p
        class="form-text text-danger"
        *ngIf="form.submitted && !formData.password"
      >
        Password is required
      </p>
    </div>

    <!-- Confirm Password -->
    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        name="confirmPassword"
        [(ngModel)]="formData.confirmPassword"
        required
      />
      <p
        class="form-text text-danger"
        *ngIf="form.submitted && formData.password !== formData.confirmPassword"
      >
        Passwords do not match
      </p>
    </div>

    <!-- Category Select -->
    <div class="mb-3">
      <select
        class="form-select"
        name="favouriteCategory"
        [(ngModel)]="formData.favouriteCategory"
        required
      >
        <option value="" disabled selected>Favorite Category</option>
        <option>IT</option>
        <option>MEDICAL</option>
        <option>SCIENCE</option>
        <option>LANGUAGES</option>
      </select>
      <p
        class="form-text text-danger"
        *ngIf="form.submitted && !formData.favouriteCategory"
      >
        Category selection is required
      </p>
    </div>

    <!-- Submit button -->
    <input
      type="submit"
      value="Save Changes"
      class="btn btn-dark rounded-pill px-5 py-2 my-3 align-self-end"
      [disabled]="isFormInvalid()"
    />
  </form>
</div>
